<div class="card" ng-controller="listadoClientesController as listado">
  <div class="card-header">
    <div class="row">
      <div class="col col-m5-5">Listado de clientes</div>
    </div>
  </div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Edad</th>
          <th scope="col">Direccion</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="cliente in clientes">
          <th scope="row">{{ cliente.id }}</th>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.edad }}</td>
          <td>{{ cliente.direccion }}</td>
          <td>
            <a href="#!/nuevo?id={{ cliente.id }}">
              <i class="fas fa-edit"></i>
            </a>
            &nbsp;&nbsp;&nbsp;
            <a href="javascript:void(0);" ng-click="eliminar(cliente.id)">
                <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card-footer"></div>
</div>
